.cNt{
  margin-top:  90px;

}

.cNt h1{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.cNt .cnt .imag  img{
  border-radius: 25px;
  display: flex;
}

.cnt {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px, auto));
  margin-top:  90px;
  justify-content: center;

  padding:35px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #ddd;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s;
}


input[type=submit]:hover {
  background-color: #000;
  color: white;
}


.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

@media (max-width: 700px) {
  .cnt {
    display: grid;
    grid-template-columns:  repeat(1, minmax(300px, auto));
    margin-top: -40px;
    justify-content: space-between;
  }
  .cNt .contact {
    display: grid;
    justify-content: space-between;
  }
  .cNt .cnt .imag{
    margin-left: auto;
    margin-right: auto;
  }
  .cNt .cnt .imag img{
   
    display: none;
  }
}

.cNt .contact {
  display: grid;
  justify-content: space-around;
}

.cNt .contact .ab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}

.cNt .contact .ab input[type="text"]{

    width: 80%;
    height: 30px;
}

.cNt .contact .ab textarea{
  width: 80%;
  height: 150px;
}

.cNt .contact .ab p{
  display: flex;
  align-items: center;
}

@media (max-width: 768px){


}